{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if sable_container_labels_traefik_enabled %}
traefik.enable=true

{% if sable_container_labels_traefik_docker_network %}
traefik.docker.network={{ sable_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if sable_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ sable_identifier }}-slashless-redirect.redirectregex.regex=^({{ sable_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ sable_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [sable_identifier + '-slashless-redirect'] %}
{% endif %}

{% if sable_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ sable_identifier }}-strip-prefix.stripprefix.prefixes={{ sable_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [sable_identifier + '-strip-prefix'] %}
{% endif %}

{% if sable_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in sable_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ sable_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [sable_identifier + '-add-request-headers'] %}
{% endif %}

{% if sable_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in sable_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ sable_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [sable_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ sable_identifier }}.rule={{ sable_container_labels_traefik_rule }}
{% if sable_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ sable_identifier }}.priority={{ sable_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ sable_identifier }}.service={{ sable_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ sable_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ sable_identifier }}.entrypoints={{ sable_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ sable_identifier }}.tls={{ sable_container_labels_traefik_tls | to_json }}
{% if sable_container_labels_traefik_tls %}
traefik.http.routers.{{ sable_identifier }}.tls.certResolver={{ sable_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ sable_identifier }}.loadbalancer.server.port={{ sable_container_http_port }}
{% endif %}

{% for arg in sable_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
